<div class="column mx-0 my-0 px-0 py-0">
	<div class="media box">
		<figure class="media-left">
			<p class="image is-64x64">
				<%#= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
			</p>
		</figure>
		<div class="media-content">
			<%= render partial: 'posts/form', locals: { post: @post } %>
		</div>
	</div>

	<% @posts.each do | post | %>
		<%= render partial: 'posts/post', locals: { post: post } %>
	<% end %>
</div>
