<% if current_user %>

<div class="section">
    <div class="columns">

      <div class="column is-one-fifth pr-6 mr-6">
        <div class="box">
          <%= render partial: "user/profile_sidebar", locals: { friends: @friends } %>
        </div>
      </div>

      <div class="column auto pl-6 pr-6 mr-6 ml-6">
        <%= render partial: "posts/feed", locals: { post: @post, likeable: @post } %>
      </div>

      <div class="column is-one-fifth pl-6 ml-6">
        <div class="box">
          <%= render partial: "user/friends_sidebar", locals: { friends: @friends } %>
        </div>
      </div>

    </div>
</div>

<% elsif %>

  <%= render template: "devise/sessions/new" %>

<% end %>