<% if flash[:notice] %>
  <div class="notification is-primary global-notification mb-0">
    <p class="notice"><%= notice %></p>
  </div>
<% elsif flash[:alert] %>
  <div class="notification is-danger global-notification mb-0">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>